@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sidebarClose,
.sideicon {
    display: none;
}

/*
=============================
header start
=============================
*/
.nav_link {
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.nav_link .logo {
    max-width: 100%;
}

header form {
    position: relative;
    width: calc(100% - 100px);
    max-width: 100%;
}

header form input[type=text] {
    background: rgba(241, 242, 245, 0.4);
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    background: #F1F2F5;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 15px;
}

header ::placeholder {
    color: #000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

header form input[type=submit] {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 4px;
    width: 25px;
    height: 25px;
    background-image: url(../img/nav/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    bottom: 0;
    margin: auto;
}

.left {
    display: flex;
    justify-content: flex-start;

}

ul.menu_sec {
    display: flex;


}

.after-log-in {
    padding-left: 40px;
}

.menu_sec li {
    padding: 0;
    border-right: none;
    margin: 0 30px 0 0;
    position: relative;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
}

.menu_sec li::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: white;
    bottom: -11px;
}

.menu_sec li::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background: #FF7F11;
    bottom: -11px;
    z-index: 1;
    transition: all 0.5s;
}

.menu_sec li:hover::before {
    width: 100%;
}

.menu_sec .active a {

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* identical to box height */

    text-align: center;

    color: #FF7F11;
}

.menu_sec .active::after {
    background: #FF7F11;
}

.menu_sec li a {
    margin-left: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    font-family: 'Fira Sans';
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

}

.menu_sec li:hover a {
    color: #FF7F11;
}

.menu_sec li a span {
    display: block;
    font-size: 10px;
    color: #fff;
    margin-left: 3px;
}

.menu_sec li a img {
    margin-bottom: 5px;
    height: 35px;
    width: 35px;
    transition: all 0.5s;
}

.menu_sec li:hover img {
    filter: invert(51%) sepia(99%) saturate(1555%) hue-rotate(351deg) brightness(101%) contrast(101%);
}

.menu_sec .active img {
    filter: invert(51%) sepia(99%) saturate(1555%) hue-rotate(351deg) brightness(101%) contrast(101%);
}

ul.log_sec {
    display: flex;
    flex-direction: row;
    padding-left: 22px;
}


ul.log_sec li:nth-child(1) {
    margin-right: 45px;
}

ul.log_sec li {
    margin-right: 20px;
}

.log_sec li a {
    color: #fff;
}

.log_sec li a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: all 0.5s;
    border-radius: 50%;
    object-fit: cover;
}

/*
=============================
header start
=============================
*/

/*
=============================
start sec start
=============================
*/
.start_sec {
    background-color: #111111;
    padding: 50px 0;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.start_sec h4 {
    margin-bottom: 10px;
}

.start_sec p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
}

.start_sec .form_sec {
    max-width: 650px;
    margin: 0 auto;
}

.start_sec input[type=text] {
    padding: 18px 20px;
    height: 50px;
    border-radius: 0px;
    border: 0;
}

.start_sec input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #A29A9A;
}

/*
=============================
start sec end
=============================
*/

/*
=============================
footer sec start
=============================
*/
footer {
    padding: 50px 0;
}

footer .ft_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

footer .ft_desc,
footer .ft_copy_right {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
}

/*
=============================
footer sec end
=============================
*/

/*
=============================
banner sec start
=============================
*/
.banner {
    padding-bottom: 35px;
}

.banner .container {
    position: relative;
    padding: 0 15px;
}

.banner .owl-carousel {
    border-radius: 6px;
}

.banner .owl-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: transparent;
}

.banner .owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
}

.banner .owl-theme .owl-dots .owl-dot.active span {
    background-color: #FF7F11;
}

.banner .slider_content {
    position: absolute;
    top: 31%;
    left: 5%;
    z-index: 1;
}

.banner .slider_content h6 {
    text-align: left;
}

.banner .slider_content h1 {
    margin-bottom: 20px;
}

/*
=============================
banner sec end
=============================
*/

/*
=============================
page content sec start
=============================
*/
.page_content {
    padding-bottom: 50px;
}

.page_content .sidebar {
    background-color: #0A084A;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 6px;
}

.page_content .sidebar a {
    margin-bottom: 20px;
}

.page_content .sidebar .common_btn {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 12px;
    text-align: left;
    background: transparent;
}

.page_content .sidebar .common_btn.active {
    background-color: #FF7F11;
}

.page_content .sidebar .common_btn:hover {
    background-color: #fff;
    color: #1c1c1c;
}

.page_content .sidebar a.subs {
    text-align: center;
}

.page_content .sidebar i {
    margin-right: 12px;
}

.page_content .border {
    background: #fff;
    margin: 0;
    opacity: 0.5;
    border: 1px solid #FFFFFF;
}

.page_content a img {
    margin-right: 10px;
}

/*
=============================
each card sec
=============================
*/
.top {
    border-radius: 6px 6px 0 0;
    background: #f3f7ff;
    padding: 20px 10px;
    position: relative;
}

.top h3 {
    position: relative;
    padding-left: 55px;
}

.top h3 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.top span {
    display: table;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #565C65;
    margin: 0;
    margin-top: 5px;
}

.top button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    padding: 0;
    line-height: 0;
    background: transparent;
}

.down {
    border-radius: 0 0 6px 6px;
    background: #f3f7ff;
    padding: 15px 10px;
    position: relative;
}

.down ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255, 127, 17, 0.1);
    border-radius: 6px;
}

.down ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FF7F11;
}


.down ul li:nth-child(2) a {
    color: #1c1c1c;
}

.down li i {
    margin-right: 8px;
    font-size: 18px;
}

.card_img {
    position: relative;
}

.card_img .king {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    padding: 3px;
}

/* .page_content .col-lg-9 .row>.col-md-6 {
    margin-bottom: 40px;
} */

/*
=============================
stream each card
=============================
*/
.stream .each_card img.w-100 {
    border-radius: 6px 6px 0 0;
}

.stream .down ul {
    background: rgba(10, 8, 74, 0.1);
}

.stream .down ul li a {
    color: #0A084A;
}

.right-stream-section1 ul li:nth-child(2) a {
    color: #FF7F11;
}

.right-stream-section1 .each_card {
    margin-bottom: 40px;
}

.stream .each_card .top span::after {
    content: "LIVE";
    position: absolute;
    left: 0px;
    top: 34px;
    width: 40px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    background: rgba(253, 28, 28, 0.87);
    text-align: center;
    border-radius: 5px;
}

.stream .each_card img.user {
    box-shadow: 0 0 0 0 rgb(255, 0, 0);
    transform: scale(1);
    animation: pulse 2s infinite;
}

/*
=============================
page content sec end
=============================
*/

/*
=============================
best_pick sec start
=============================
*/
.best_pick {
    padding-bottom: 60px;
}

.best_pick .right_content {
    padding-left: 35px;
}

.best_pick .right_content h2 {
    margin-bottom: 40px;
}

.best_pick ul li {
    margin-bottom: 40px;
}

.best_pick ul li h5 {
    position: relative;
    padding-left: 6rem;
}

.best_pick ul li h5 img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 60px;
    height: auto;
}

.best_pick ul li h5 span {
    display: table;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

/*
=============================
best_pick sec start
=============================
*/

/*
=============================
latest video sec start
=============================
*/
.videos_sec {
    background-color: #E5E5E5;
    padding: 10px 0 30px 0;
}

.videos_sec .each_video img {
    margin-bottom: 18px;
}

.videos_sec .each_video h6 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 15px;
    position: relative;
}

.videos_sec .each_video h6::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 24px;
    background: #FF7F11;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.videos_sec .each_video h5 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
}

/*
=============================
latest video sec end
=============================
*/

/*
=============================
process sec start
=============================
*/
.process_sec {
    background-color: #E5E5E5;
    padding-bottom: 60px;
}

.process_sec .container {
    position: relative;
    padding: 40px 10px;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.process_sec .container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.process_sec h6 {
    color: #fff;
}

.process_sec h5,
h6,
p {
    text-align: center;
    color: #fff;
}

.process_sec .each_process img {
    width: 112px;
    height: 112px;
    display: table;
    margin: 0 auto 20px;
}

.process_sec .each_process:nth-child(1)::before {
    content: url(../img/process/curve.png);
    position: absolute;
    top: 10%;
    right: -6rem;
    z-index: 9;
    transform: rotate(180deg);
}

.process_sec .each_process:nth-child(2)::before {
    content: url(../img/process/curve.png);
    position: absolute;
    top: 0%;
    right: -6rem;
    z-index: 9;
}

/*
=============================
process sec end
=============================
*/

/*
=============================
stream player sec start
=============================
*/
.right_sidebar .each_box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.right_sidebar .each_box img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.right_sidebar .each_box a h6 {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-align: left;
    margin-bottom: 5px;
}

.right_sidebar .each_box a h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
}

.right_sidebar .each_box a p {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-align: left;
    margin: 0;
}

.page_content .video_info {
    padding: 30px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page_content .video_info ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stream-player-section1 .video_info ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1c1c1c;
    margin-left: 40px;
}

.stream-player-section1 .comment_sec form input,
.stream-player-section1 .comment_sec form textarea {
    background: rgba(10, 8, 74, 0.1);
    height: 50px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.stream-player-section1 .comment_sec form input::placeholder,
.stream-player-section1 .comment_sec form textarea::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #BEC1C5;
}

.stream-player-section1 .comment_sec form textarea {
    height: 178px;
}

.page_content .video_info ul li a.liked {
    color: #FF7F11;
}

.page_content .video_info ul li i {
    margin-right: 10px;
}

.page_content .comment_sec form button {
    width: 193px;
}

/*
=============================
stream player sec end
=============================
*/

/*
=============================
payment sec start
=============================
*/
.payment_sec {
    padding-top: 60px;
    padding-bottom: 60px;
}

.payment_sec .total_prev {
    position: relative;
    z-index: 1;
}

.payment_sec .total_prev .top {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0;
    background: no-repeat;
}

.payment_sec .total_prev .bottom {
    position: absolute;
    padding: 0;
    bottom: -10px;
    transform: rotate(180deg);
    left: 0;
    width: 100%;
    z-index: 2;
    background: no-repeat;
}


.payment_sec h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
}

.payment_sec .p_card {
    background: transparent;
    width: 160px;
    height: 80px;
    border-radius: 6px;
    border: 0.5px solid #BEC1C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #0A084A;
}

.payment_sec .p_card.active {
    background-color: #dee2e6 !important;
}

.payment_sec .nav-tabs {
    justify-content: space-between;
    border-bottom: none;
}

.payment_sec .card_frm {
    max-width: 100%;
    padding-top: 40px;
}

.payment_sec .card_frm input[type=text] {
    background: rgba(10, 8, 74, 0.1);
    border-radius: 4px;
    padding: 25px 15px;
}

.payment_sec .form-check {
    margin-bottom: 20px;
}

.payment_sec .total_prev {
    max-width: 320px;
    background: #F2F2F6;
    padding: 30px 20px;
    position: relative;
}


.payment_sec .total_prev h3 {
    margin-bottom: 30px;
}

.payment_sec .total_prev ul li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7A7A7A;
    margin-bottom: 20px;
}

.payment_sec .total_prev ul li span {
    float: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.payment_sec .total_prev ul li.total {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 2px solid #1c1c1c;
}

/*
=============================
payment sec end
=============================
*/

/*
=============================
success sec start
=============================
*/
.success {
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
}

.success img {
    width: 80px;
    height: auto;
    margin: 0 auto 30px auto;
    display: block;
}

.success p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000000;

}

.success a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    color: #2A247E;

}

.success h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

.success a:hover {
    color: unset;
}

/*
=============================
success sec end
=============================
*/

/*
=============================
subscription sec start
=============================
*/
.rounded img.w-100 {
    border-radius: 20px 20px 0 0;
    height: 234px;
    object-fit: cover;
}

.rounded .top {
    padding-bottom: 0;
}

.rounded .down {
    border-radius: 0 0 20px 20px;
}

.rounded .down ul {
    background: rgba(10, 8, 74, 0.1);
    border-radius: 0 0 15px 15px;
}

.rounded .down ul li {
    color: #0A084A;
}

/*suman*/
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}

.top button i {
    color: #FF7F11;
}

.rounded .down ul li:last-child a {
    color: #FF7F11;
}

.rounded .each_card {
    border: 1px solid #D8DADE;
    box-sizing: border-box;
    border-radius: 20px;
}


.rounded .each_card .top button i {
    color: #FF7F11;
}



.page_content .sidebar .common_btn:hover img {
    filter: invert(51%) sepia(99%) saturate(1555%) hue-rotate(351deg) brightness(101%) contrast(101%);
}

.circular-image-section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.circular-image-section a {
    margin-bottom: 16px;
}


.video-wrapper {
    border-radius: 82px 82px 0 0;
    position: relative;
}


.right-homepage-section1 .each_card {
    margin-bottom: 40px;
}

.subscription-section1 .each_card {
    margin-bottom: 40px;
}

.right-works-section2 ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000 !important;

}

.rounded .each_card {
    margin-bottom: 40px;
}

.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal p {
    font-family: unset;
    color: unset;
}

.modal-dialog {
    width: 418px;
}

.modal-header {
    background: #0A084A !important;
}

.modal form input {
    width: 100%;
    height: 50px;
    background: rgba(10, 8, 74, 0.1);
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.modal form select,
.modal form input,
.modal form textarea {
    width: 100%;
    height: 50px;
    background: rgba(10, 8, 74, 0.1);
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.modal form textarea {
    height: 150px;
}

#editModalDiv .upload-image-sec {
    position: relative;
    border-radius: 16px;
    background: #ccc;
}

#editModalDiv input.custom-file-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#editModalDiv form button {
    background: #FF7F11;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    text-align: center;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px 27px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}



#editModalDiv .upload-here-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#editModalDiv .icon-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editModalDiv .icon-upload h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #0A084A;
}

.modal form input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BEC1C5;

}

.modal h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.modal p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #2E2E2E;
    margin-bottom: 30px;

}

.modal form .log-bg {
    background: url("../img/bg-log.png");
    background-repeat: no-repeat;
    background-position: center;

}

.modal form p {
    margin-bottom: 37px;
    margin-top: 39px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #2E2E2E;

}

.modal .close {
    opacity: 1;
}

.modal .close span {
    color: #fff;
}

.modal form p {
    text-align: center;
}

.modal form {
    text-align: center;
}

.modal form .reg-link {
    margin-bottom: 0;
    margin-bottom: 0px;
    margin-top: 37px;
}

.modal form a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    width: 100%;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FF7F11;
    text-align: center;
    text-decoration: none;

}

.modal form .mod-btn {
    display: block;
    border-radius: 4px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0;

}

.modal form .fb-btn {
    background: #1877F2;
    margin-bottom: 24px;
    transition: all ease 0.3s 0s;

}

.modal form .fb-btn:hover {
    transition: all ease 0.3s 0s;
    background: #5c9bec;
}

.modal form .ggl-btn {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 4px;
    color: #2E2E2E;
    transition: all ease 0.3s 0s;
}

.modal form .ggl-btn:hover {
    transition: all ease 0.3s 0s;
    background: #FF7F11;
    color: #fff;
}

.modal form input[type=submit] {
    background: #FF7F11;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal form button {
    background: #FF7F11;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal {
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}


.dropdown-sec {
    position: relative;
}

.dropdown-sec .drop-profile {
    position: absolute;
    z-index: 9999;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 30px 16px 22px 16px;
    left: -216px;
    top: 50px;
    width: 300px;
}

.dropdown-sec .drop-profile .cross-here {
    top: 36px;
    right: 20px;
    position: absolute;
    color: #373435;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition: all ease 0.3s 0s;
    transition: all ease 0.3s 0s;
}

.dropdown-sec .drop-profile .cross-here:hover {
    -webkit-transition: all ease 0.3s 0s;
    transition: all ease 0.3s 0s;
    color: #ff6804;
}

.dropdown-sec .drop-profile p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #373435;
    margin-bottom: 0;
}

.dropdown-sec .drop-profile li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 0px;
    border-radius: 5px;
    -webkit-transition: all ease 0.3s 0s;
    transition: all ease 0.3s 0s;
}

.dropdown-sec .drop-profile li:hover {
    -webkit-transition: all ease 0.3s 0s;
    transition: all ease 0.3s 0s;
    padding: 8px;
    background: #ff6804 !important;
}

.dropdown-sec .drop-profile li:hover a {
    color: #fff !important;
}

.dropdown-sec .drop-profile li .icon {
    width: 31px;
    height: 31px;
    background: #E7E7E7;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 13px;
}

.dropdown-sec .drop-profile li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #373435;
}

.dropdown-sec .drop-profile form {
    width: 100%;
    position: relative;
}

.dropdown-sec .drop-profile form input[type=search] {
    background: #F1F2F5;
    border-radius: 4px;
    height: 40px;
    border: none;
    outline: none;
    padding: 13px;
    margin-bottom: 20px;
    width: 100%;
}

.dropdown-sec .drop-profile form button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    top: 6px;
}

.dropdown-sec .drop-profile .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.dropdown-sec .drop-profile .profile .like-comment {
    position: absolute;
    left: 49px;
    top: 49px;
}

.dropdown-sec .drop-profile .profile .noti-text {
    margin-left: 12px;
}

.dropdown-sec .drop-profile .profile .noti-text h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: unset;
    text-transform: unset;
    text-align: left;
    color: #000000 !important;
}

.dropdown-sec .drop-profile .profile .noti-text h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: unset;
    text-transform: unset;
    text-align: left;
    color: #000000;
}

.dropdown-sec .drop-profile .profile .noti-text h6 span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0A084A;
    letter-spacing: unset;
    text-transform: unset;
    text-align: left;
}

.dropdown-sec .drop-profile .profile .noti-text h6 a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0A084A;
    letter-spacing: unset;
    text-transform: unset;
    text-align: left;
}

.dropdown-sec .drop-profile .profile .noti-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A6A6A6 !important;
    letter-spacing: unset;
    text-transform: unset;
    text-align: left;
}

.dropdown-sec .drop-profile .profile .text {
    margin-left: 15px;
}

.dropdown-sec .drop-profile .profile .text h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #3F3D56;
    text-transform: unset;
    letter-spacing: unset;
    text-align: left;
}

.dropdown-sec .drop-profile .profile .text a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3F3D56;
    text-transform: unset;
    letter-spacing: unset;
    text-align: left;
    text-transform: capitalize;
}

.dropdown-sec .drop-profile h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #373435;
    text-transform: unset;
    letter-spacing: unset;
    text-align: left;
    margin-bottom: 20px;
}

/* Go Live CSS */

/*
=====================================
Playlist info user image fix start
=====================================
*/
.user-channel-section1 .right-user-channel-section1 .user-details img,
.channel-section1 .right-channel-section1 .channel-top img {
    object-fit: cover;
}

/*
=====================================
Playlist info user image fix end
=====================================
*/

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-8deg);
        transform: scale(0.9) rotate(-8deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: scale(1.3) rotate(8deg);
        transform: scale(1.3) rotate(8deg);
    }

    40%,
    60% {
        -webkit-transform: scale(1.3) rotate(-8deg);
        transform: scale(1.3) rotate(-8deg);
    }

    80% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

/*
=====================================
Home page card css thumbnail fix start
=====================================
*/
.homepage-section1 .each_card .thumbnail {
    min-height: 250px;
    position: relative;
}

.homepage-section1 .each_card .thumbnail img {
    object-fit: cover;
    height: 250px;
}

.homepage-section1 .each_card .thumbnail img.king {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    padding: 3px;
}

/*
=====================================
Home page card css thumbnail end
=====================================
*/


/*
========================================
Home page chat request modal css start
=======================================
*/
.popup-modal .modal-header h5.modal-title {
    color: #fff;
}

.popup-modal .modal-header button.close::before {
    content: none;
}

.popup-modal .modal-dialog {
    width: 100%;
}

.popup-modal form .chat-box__input {
    display: flex;
    align-items: center;
}

.popup-modal form .chat-box__input input[type="submit"] {
    width: 10%;
    margin-bottom: 0.5rem;
    background-color: #09b0ff !important;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    filter: invert(1);
    border-radius: 0 4px 4px 0 !important;
}

.popup-modal form .chat-box__input input[type="text"] {
    width: 100%;
    margin-bottom: 0.5rem;
}

.popup-modal form .chat-box__input {
    padding: 0.5rem;
}

/*
========================================
Home page chat request modal css end
=======================================
*/

/*
=========================================
Home page chat with friends Listing CSS
=========================================
*/
.user-head {
    position: fixed;
    bottom: 5%;
    right: 2%;
    border-radius: 8px;
    z-index: 9;
    background-color: #fff;
    box-shadow: 0 2px 10px 3px rgb(0 0 0 / 14%);
    min-width: 180px;
}

.user-head h2 {
    font-size: 14px;
    background-color: #363636;
    color: #fff;
    line-height: 32px;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
}

.user-head .user-box {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.2rem 0.5rem;
}

.user-box a {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    height: 45px;
}

.user-box a span {
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 31px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
}

.user-box a h4 {
    font-size: 12px;
    color: #333;
}

/*
=========================================
Home Page Main Chat Box CSS Start
=========================================
*/
.modal-dialog {
    width: 418px;
}

.user-chat .modal-dialog.modal-dialog-centered {
    position: absolute;
    right: 145px;
    transform: translateY(10px);
}

.user-chat .modal-content {
    position: absolute;
    bottom: 0;
    height: 378px;
    width: 80%;
}

.user-chat .modal-header a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.user-chat .modal-header a span {
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 37px;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
}

.user-chat .modal-header a h4 {
    font-size: 15px;
    color: rgb(255, 255, 255);
}


/*
*** Chat Body
*/
/*** Chat Body Scroll Fix ***/
#messageBody::-webkit-scrollbar {
    width: 2px;
}

/*** chat incoming css ***/
.user-chat .user .user-incoming {
    padding: 1rem;
}

.user-chat .user .user-incoming a {
    display: flex;
    flex-direction: revert;
    align-items: start;
    gap: 0.5rem;
}

.user-chat .user .user-incoming a span {
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 31px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
}

.user-chat .user .user-incoming a h4 {
    font-size: 14px;
    color: rgb(31, 31, 31);
}

.user-chat .user .user-incoming p {
    display: inline-block;
    min-height: 30px;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: #eedbff;
}

/*** chat outgoing css ***/
.user-chat .user .user-outgoing {
    padding: 1rem;
}

.user-chat .user .user-outgoing a {
    display: flex;
    flex-direction: revert;
    align-items: start;
    justify-content: end;
    gap: 0.5rem;
}

.user-chat .user .user-outgoing a span {
    background-color: rgb(30, 255, 0);
    color: #fff;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 31px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
}

.user-chat .user .user-outgoing a h4 {
    font-size: 14px;
    color: rgb(31, 31, 31);
}

.user-chat .user .user-outgoing p {
    font-size: 14px;
    line-height: 20px;
    background-color: rgb(223, 255, 219);
    border-radius: 10px;
    margin-top: 8px;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0px;
    text-align: right;
    display: table;
    margin-left: auto;
}


/*** chat submit form ***/
.modal form {
    text-align: center;
}

.user-chat form .chat-box__input {
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0.3rem;
    height: 40px;
}

.user-chat form .chat-box__input input[type="text"] {
    width: 100%;
    margin-bottom: 0;
    height: 30px !important;
    border-radius: 4px 0 0 4px !important;
}

.user-chat form .chat-box__input input[type="submit"] {
    width: 13%;
    height: 30px !important;
    margin-bottom: 0;
    background-color: #09b0ff !important;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    filter: invert(1);
    border-radius: 0 4px 4px 0 !important;
    font-size: 0;
}

/*** Home Page Modal Chat Box Core CSS ***/
#messageBody {
    height: 264px;
    overflow-y: scroll;
}


/*** Global Modal Close Button CSS Fix ***/
button.close::before {
    display: none;
}

/*** Video share modal CSS ***/
#publicVideoSharemodal button.privateModalClose {
    background: transparent;
    border: none;
}

#publicVideoSharemodal button.privateModalClose span {
    color: #fff;
    font-size: 22px;
}

#publicVideoSharemodal ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#publicVideoSharemodal ul li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    margin-right: 12px;
}

#publicVideoSharemodal ul li i {
    color: #fff;
    font-size: 22px;
}

#publicVideoSharemodal ul li:nth-child(1) {
    background: #2A247E;
}

#publicVideoSharemodal ul li:nth-child(2) {
    background: #37c224;
}

.copy-link {
    border: 2px solid #efefef;
    margin: 22px 0;
    padding: 12px;
    border-radius: 8px;
}

#publicVideoSharemodal button.copy-btn {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #FF7F11;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}

#publicVideoSharemodal button.copy-btn:focus {

    background: #a8a8a8;

}
